{% extends 'index.html' %}
{% block title %}Bike: {{ bike.marca }} - {{ bike.modelo }} {% endblock title %}
{% block content %}
<h1>Detalhes da Bike</h1>
<h2>Bike:</h2>
<div class="d-flex justify-content-end">
</div>
<div class="card mt-4">
    <div class="card-header">
        {{ bike.codigo }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Marca: {{ bike.marca }}</li>
            <li class="list-group-item">Modelo: {{ bike.modelo }}</li>
            <li class="list-group-item">Data de compra: {{ bike.comprar }}</li>
          </ul>
    </div>
</div>
{% endblock content %}